.section-outline {
  border-radius: 12px;
  color: #5c5c5c;
  line-height: 1.2;
  box-shadow: 0 20px 40px 0 rgba(255, 148, 22, 0.8);
  background-color: #ffffff;
  overflow: hidden;
}
.stat-cards {
  display: flex;
  flex-direction: row;
}
.img-size {
  width: 3rem;
}
.youtube-icon {
  width: 35px;
  margin-left: 10px;
}
.link-color {
  color: white;
}
.link-color:hover {
  color: white;
  text-decoration: none;
}
.buy-link-color {
  color: #dc0067;
}
.buy-link-color:hover {
  color: #dc0067;
  text-decoration: none;
}
.green-bg {
  background-color: #00ba00;
  border-radius: 3px;
}
.img-con {
  width: 6rem;
  height: 6rem;
}
.head-text {
  color: #5c5c5c;
  font-size: 22px;
  font-weight: 700;
}
.mul-text {
  color: #ffffff;
  float: right;
  font-size: 18px;
  font-weight: bold;
  background-color: #ff9416;
  height: 95px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -70px;
  top: -20px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  -ms-transform: rotate(45deg); /* IE 9 */
  transform: rotate(45deg); /* Standard syntax */
}
.my-percentage {
  color: rgba(62, 62, 62, 0.95);
  font-size: 30px;
  font-weight: 700;
}
.percentage {
  color: rgba(92, 92, 92, 0.95);
  font-size: 30px;
  font-weight: 700;
}
.red-band {
  background-image: linear-gradient(to right, #c91f66, #720332);
  color: #fff;
  text-align: center;
  padding: 10px 25px;
  border-radius: 15px;
  margin-bottom: 30px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.menu-mul-text {
  color: #ffffff;
  float: right;
  font-size: 18px;
  font-weight: bold;
  background-color: #ff9416;
  height: 80px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -70px;
  top: -20px;
  padding-top: 20px;
  -ms-transform: rotate(45deg); /* IE 9 */
  transform: rotate(45deg); /* Standard syntax */
}
.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

@media (max-width: 536px) {
  .red-band {
    width: 330px;
  }
}
