body {
  background: #EDF7F6;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  background-color: #242166;
  color: #EDF7F6 !important;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #ffdde3 */
}